<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/png" href="{% static 'portfolio/favicon/favicon-48x48.png' %}" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="{% static 'portfolio/favicon/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'portfolio/favicon/favicon.ico"' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'portfolio/favicon/apple-touch-icon.png' %}"/>
    <meta name="apple-mobile-web-app-title" content="byCammy" />
    <link rel="manifest" href="{% static 'portfolio/favicon/site.webmanifest' %}"/>
</head>
<body>
    <h1>Testtesttesttesttststststts</h1>
</body>
</html>